body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    width: 100%;
}
.card {
    border-radius: 20px;
    background-color: #f8f9fa; /* Light gray background */
}

.card-title {
    color: #343a40; /* Dark gray text */
}

.card-text {
    color: #6c757d; /* Gray text */
}
.explore-btn {
    background-color: #0B1C39; /* Default background color */
    border-color: #0B1C39; /* Default border color */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition effect */
}

.explore-btn:hover {
    background-color: #FF0000; /* Light color mask on hover */
    border-color: transparent; /* Hide the border on hover */
}
.navy-blue {
    color: #001F3F; /* Navy blue color */
}

.red {
    color: #FF0000; /* Red color */
}

.welcome-text {
    font-family: 'Montserrat', sans-serif; /* Apply the Montserrat font to the text */
    font-weight: 700; /* Bold font weight */
    /* Other styles for the welcome text */
}


/* styles.css */

.chart-container {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /* Aspect ratio: 4:3 */
}

.chart-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.banner-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.banner-card:hover .banner-image {
  transform: scale(1.05);
}

.banner-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center align the text */
}

.banner-caption h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.banner-caption p {
  font-size: 14px;
  margin-bottom: 0;
}
