{% extends 'base.html' %}
{% load static %}
{% block body %}

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="banner-card mb-4">
          <img src="{% static 'images/nick-chong-N__BnvQ_w18-unsplash.jpg' %}" alt="Stock Market Image" class="banner-image img-fluid" style="max-height: 200px;">
          <div class="banner-caption">
            <h2>This graph represents the stock price of Apple.</h2>
            <p>Please note that predictions are based on various factors including news sentiment, but other factors may also influence stock prices. Use this information as an additional tool for decision-making.</p>
          </div>
        </div>
        <div class="card widget-card border-light shadow-sm">
          <div class="card-body p-4">
            <h5 class="card-title widget-card-title mb-4">Stock Close Price and Predictions</h5>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div id="plotly-graph" class="text-center"></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var graphData = JSON.parse('{{ graph_json|escapejs }}');
    Plotly.newPlot('plotly-graph', graphData.data, graphData.layout);
</script>
{% endblock %}
